version: '3.11'

services:

  postgres:
    image: postgres:15.1
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: on-failure
    environment:
      POSTGRES_USER: userrole
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: mydb
    ports:
      - '5433:5432'
  bot:
    build: .
    command: sh -c "make migrate && python -m bot"
    env_file:
      - ./.env
    restart: always
    depends_on:
      - postgres

volumes:
  pgdata: