version: '3.11'

services:
  postgres:
    image: postgres:15.1
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: on-failure
    ports:
      - '5432:5432'
  bot:
    build: .
    command: sh -c "cd ./work/kitchen-bot; make migrate && python -m bot"
    env_file:
      - ./.env
    restart: always
    depends_on:
      - postgres

volumes:
  pgdata: