version: '3.11'

services:

  redis:
    image: redis:7.2.1
    env_file:
      - ./.env
    restart: always
    command:
      - redis-server
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_PORT=6379
      - REDIS_DATABASES=16
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    volumes:
      - /usr/src/app/data:/bitnami/redis/data

  postgres:
    image: postgres:15.1
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: on-failure
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: userrole
      POSTGRES_PASSWORD: 12345
    ports:
      - '80.87.200.249:5432:5432'
  bot:
    build: .
    command: sh -c "make migrate && python -m bot"
    env_file:
      - ./.env
    restart: always
    depends_on:
      - postgres
      - redis

volumes:
  pgdata:
  redis-data: