version: '3.11'

services:

  redis:
    build:
      dockerfile: redis.dockerfile
    env_file:
      - ./.env
    restart: on-failure
    ports:
      - "6378:6378"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf

  postgres:
    image: postgres:15.1
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: on-failure
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: userrole
      POSTGRES_PASSWORD: 12345
    ports:
      - '5432:5432'
  bot:
    build:
      dockerfile: Dockerfile
    env_file:
      - ./.env
    restart: always
    command: sh -c "make migrate && python -m bot"
    depends_on:
      - postgres
      - redis

volumes:
  pgdata:
  redis-data: