name: CD

on:
  push:
    branches:
      - master
jobs:

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.11
      - name: Run command on remote server
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{secrets.SSH_HOST}}
          user: ${{secrets.SSH_USER}}
          private_key: ${{secrets.USER_UBUNTU_PRIVATE_KB}}
          command: |
            su user;
            pwd;
            cd ${{ secrets.SERVER_PATH }};
            git checkout main;
            git pull;
            docker compose --file docker-compose.yml down;
            docker compose --file docker-compose.yml up -d;
            docker system prune --all --force;